In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.10)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle (2).json

{'kaggle.json': b'{"username":"swanmoy","key":"46acce63d8856ceb01c653aed6c5d046"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d kazanova/sentiment140

401 - Unauthorized

In [ ]:
from zipfile import ZipFile
file_name="sentiment140.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
DATASET_COLUMNS = ["target", "ids", "date", "flag", "user", "TweetText"]
DATASET_ENCODING = "latin-1"
data=pd.read_csv("training.1600000.processed.noemoticon.csv", encoding=DATASET_ENCODING, names=DATASET_COLUMNS)
data.head()

   target  ...                                          TweetText
0       0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  ...  is upset that he can't update his Facebook by ...
2       0  ...  @Kenichan I dived many times for the ball. Man...
3       0  ...    my whole body feels itchy and like its on fire
4       0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In [ ]:
import re
import nltk
import string
import warnings
import matplotlib.pyplot as plt

In [ ]:
data.drop(['ids','date','flag','user'],axis = 1,inplace = True)

In [ ]:
data.head()

   target                                          TweetText
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  is upset that he can't update his Facebook by ...
2       0  @Kenichan I dived many times for the ball. Man...
3       0    my whole body feels itchy and like its on fire
4       0  @nationwideclass no, it's not behaving at all....

In [ ]:
#data=data[(data['target']==4) | (data['target']==0)]

In [ ]:
data

         target                                          TweetText
0             0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1             0  is upset that he can't update his Facebook by ...
2             0  @Kenichan I dived many times for the ball. Man...
3             0    my whole body feels itchy and like its on fire
4             0  @nationwideclass no, it's not behaving at all....
...         ...                                                ...
1599995       4  Just woke up. Having no school is the best fee...
1599996       4  TheWDB.com - Very cool to hear old Walt interv...
1599997       4  Are you ready for your MoJo Makeover? Ask me f...
1599998       4  Happy 38th Birthday to my boo of alll time!!! ...
1599999       4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [ ]:
data['Clean_TweetText'] = data['TweetText'].str.replace("@", "") 
data.head()

   target  ...                                    Clean_TweetText
0       0  ...  switchfoot http://twitpic.com/2y1zl - Awww, th...
1       0  ...  is upset that he can't update his Facebook by ...
2       0  ...  Kenichan I dived many times for the ball. Mana...
3       0  ...    my whole body feels itchy and like its on fire
4       0  ...  nationwideclass no, it's not behaving at all. ...

[5 rows x 3 columns]

In [ ]:
data['Clean_TweetText'] = data['Clean_TweetText'].str.replace(r"http\S+", "") 
data.head()

   target  ...                                    Clean_TweetText
0       0  ...  switchfoot  - Awww, that's a bummer.  You shou...
1       0  ...  is upset that he can't update his Facebook by ...
2       0  ...  Kenichan I dived many times for the ball. Mana...
3       0  ...    my whole body feels itchy and like its on fire
4       0  ...  nationwideclass no, it's not behaving at all. ...

[5 rows x 3 columns]

In [ ]:
data['Clean_TweetText'] = data['Clean_TweetText'].str.replace("[^a-zA-Z]", " ") 
data.head()

   target  ...                                    Clean_TweetText
0       0  ...  switchfoot    Awww  that s a bummer   You shou...
1       0  ...  is upset that he can t update his Facebook by ...
2       0  ...  Kenichan I dived many times for the ball  Mana...
3       0  ...    my whole body feels itchy and like its on fire
4       0  ...  nationwideclass no  it s not behaving at all  ...

[5 rows x 3 columns]

In [ ]:
nltk.download('stopwords')
stopwords=nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
def remove_stopwords(text):
    clean_text=' '.join([word for word in text.split() if word not in stopwords])
    return clean_text

In [ ]:
data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda text : remove_stopwords(text.lower()))
data.head()

   target  ...                                    Clean_TweetText
0       0  ...  switchfoot awww bummer shoulda got david carr ...
1       0  ...  upset update facebook texting might cry result...
2       0  ...  kenichan dived many times ball managed save re...
3       0  ...                   whole body feels itchy like fire
4       0  ...                   nationwideclass behaving mad see

[5 rows x 3 columns]

In [ ]:
data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda x: x.split())
data.head()

   target  ...                                    Clean_TweetText
0       0  ...  [switchfoot, awww, bummer, shoulda, got, david...
1       0  ...  [upset, update, facebook, texting, might, cry,...
2       0  ...  [kenichan, dived, many, times, ball, managed, ...
3       0  ...            [whole, body, feels, itchy, like, fire]
4       0  ...              [nationwideclass, behaving, mad, see]

[5 rows x 3 columns]

In [ ]:
nltk.download('wordnet')
nltk.download('punkt')
from nltk.stem.porter import * 
from nltk import word_tokenize
stemmer = nltk.WordNetLemmatizer()
data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda x: [stemmer.lemmatize(i) for i in x])
data.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

   target  ...                                    Clean_TweetText
0       0  ...  [switchfoot, awww, bummer, shoulda, got, david...
1       0  ...  [upset, update, facebook, texting, might, cry,...
2       0  ...  [kenichan, dived, many, time, ball, managed, s...
3       0  ...             [whole, body, feel, itchy, like, fire]
4       0  ...              [nationwideclass, behaving, mad, see]

[5 rows x 3 columns]

In [ ]:
data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda x: ' '.join([w for w in x]))
data.head()

   target  ...                                    Clean_TweetText
0       0  ...  switchfoot awww bummer shoulda got david carr ...
1       0  ...  upset update facebook texting might cry result...
2       0  ...  kenichan dived many time ball managed save res...
3       0  ...                    whole body feel itchy like fire
4       0  ...                   nationwideclass behaving mad see

[5 rows x 3 columns]

In [ ]:
data['Clean_TweetText'] = data['Clean_TweetText'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
data.head()

   target  ...                                    Clean_TweetText
0       0  ...    switchfoot awww bummer shoulda david carr third
1       0  ...  upset update facebook texting might result sch...
2       0  ...  kenichan dived many time ball managed save res...
3       0  ...                    whole body feel itchy like fire
4       0  ...                           nationwideclass behaving

[5 rows x 3 columns]

In [ ]:
from xgboost import XGBClassifier
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier 
from sklearn.linear_model import LogisticRegression 
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:

X_train,X_test,y_train,y_test = train_test_split(data['Clean_TweetText'],data['target'] , test_size=.2,stratify=data['target'], random_state=1)

In [ ]:
import pickle
vect = CountVectorizer(min_df=5, ngram_range=(1,2)).fit(X_train)
X_train_vect= vect.transform(X_train)
pickle.dump(vect.vocabulary_, open("feature.pkl", "wb"))

In [ ]:
from sklearn.linear_model import LogisticRegression
xgbc = LogisticRegression(C=1.1, max_iter=500, fit_intercept=True, intercept_scaling=1,  tol=0.0001, solver='liblinear')
xgbc.fit(X_train_vect,y_train)
prediction_xgb = xgbc.predict(vect.transform(X_test))
print(accuracy_score(prediction_xgb,y_test))

0.769709375

In [ ]:
res=xgbc.predict(vect.transform([input()]))
if res[0]==4:
  print("Happy")
elif res[0]==2:
  print("Neutral")
else:
  print("Depressed")

i am sad
Happy

In [ ]:
import pickle

In [ ]:
pickle.dump(xgbc, open('finalized_model_svm.sav', 'wb'))

In [ ]:
import sklearn
sklearn.__version__

'0.22.2.post1'

In [ ]:
pip > requirement.php

In [ ]:
pip freeze > requirement.txt